<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>ToDo List</h1>

    <a href="/">Home</a>
    <a href="/todolist">ToDo List</a>
    <a href="/todolist/add">Add ToDo List</a>
       
    <h2>Ini add Student page</h2>
    <form action="/students/add" method="post">
        <input type="text" name="name" id="name" placeholder="Name">
        <input type="text" name="major" id="major" placeholder="Major">
        <input type="text" name="score" id="score" placeholder="Score">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
